<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>
<nav th:replace="fragments.html :: nav"></nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <a href="#" th:href="@{/notification}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    읽지 않은 알림
                </a>
                <a href="#" th:href="@{/read-notification}"
                   class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    읽은 알림
                </a>
            </ul>

            <ul class="list-group mt-4">
                <form th:action="@{/delete-notification}" method="post">
                    <button type="submit" class="btn btn-block btn-outline-primary">
                        읽은 알림 삭제
                    </button>
                </form>
            </ul>
        </div>


        <div class="col-9">
            <div class="card">
                <div class="card-header"  th:if="${#lists.isEmpty(notification)}">
                    알림 메시지가 없습니다.
                </div>
                <div class="card-header"  th:if="${not #lists.isEmpty(notification)}">
                    새로운 알림이  <span th:text="${count}"></span>개 있습니다.
                </div>
                <div  th:if="${not #lists.isEmpty(notification)}">
                    <div th:each="item : ${notification}" class="card-body"  style="border-top: 1px solid #ccc;">
                        <form th:action="@{/notification}" method="post">
                            <a th:text="${item.message} + ' 의 게시글에 새로운 댓글이 생겼습니다.'" href="javascript:document.querySelector('#hiddenSubmit').click();" style="color: black;"></a>
                            <div th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            <input type="hidden" name="id" th:value="${item.id}">
                            <input type="hidden" name="link" th:value="${item.link}">
                            <input type="submit" id="hiddenSubmit" style="display: none;">
                        </form>
                </div>

            </div>
        </div>


        </div>
    </div>


</div>





</body>
</html>