<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.application.community.mapper.CommunityWriteMapper">

    <insert id="insertCommunity" parameterType="com.example.application.community.dto.CommunityDto$CommunityNewDto"
            useGeneratedKeys="true" keyProperty="communityId" keyColumn="communityId">
        INSERT INTO community (title, content, accountId)
        VALUES (#{title}, #{content}, #{accountId})
    </insert>

    <insert id="insertCommunityTag" parameterType="java.util.Map">
        INSERT INTO communityTag (communityId, tagId)
        VALUES (#{communityId}, #{tagId})
    </insert>


    <update id="deleteArticle" parameterType="java.util.Map">
        UPDATE community
        SET deleted = 1
        WHERE communityId = #{communityId} AND accountId = #{accountId};
    </update>

    <delete id="deleteCommunityTagsByCommunityId" parameterType="Long">
        DELETE FROM communitytag
        WHERE communityId = #{communityId};
    </delete>

    <update id="updateArticleView" parameterType="Long">
        UPDATE community
        SET views = views + 1
        WHERE communityId = #{communityId}
    </update>


    <select id="selectArticleUpdateByCommunityId" parameterType="Long" resultType="com.example.application.community.dto.CommunityDto$ArticleModificationFormDto">
        SELECT c.communityId, c.title ,c.accountId , c.content
        FROM community c
        WHERE c.communityId = #{communityId}
    </select>

    <update id="updateArticle" parameterType="com.example.application.community.dto.CommunityDto$ArticleModificationDto">
        UPDATE community
        SET title = #{title},
            content = #{content},
            modifiedAt = #{modifiedAt}
        WHERE communityId = #{communityId}
    </update>

    <update id="updateLikes" parameterType="Map">
        UPDATE community
        SET likes = #{likes}
        WHERE communityId = #{communityId}
    </update>

    <update id="updateCommentCnt" parameterType="Long">
        UPDATE community
        SET commentCount = commentCount + 1
        WHERE communityId = #{communityId}
    </update>

</mapper>