<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.application.tag.mapper.TagReadMapper">



    <select id="selectTitleCount" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM tag WHERE tagTitle = #{tagTitle}
    </select>

    <select id="selectAllTag" resultMap="tagResultMap">
        SELECT tagTitle FROM tag
        ORDER BY tagId DESC
            LIMIT 10
    </select>
    <resultMap id="tagResultMap" type="java.lang.String">
        <result column="tagTitle"/>
    </resultMap>


    <select id="selectTagId" parameterType="String" resultType="Integer">
        SELECT tagId FROM tag
        WHERE tagTitle = #{tagTitle}
    </select>




</mapper>